################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RestAPIDemo/.vs/RestAPIDemo
/RestAPIDemo/.vs/ProjectEvaluation
/DemoWebApp/.vs
/DemoWebApp/DemoWebApp/obj
